<div class="row">
  <div class="col-4">
    <app-place placeName="City of London"></app-place>
  </div>
  <div class="col-4">
    <app-place placeName="Birmingham"></app-place>
  </div>
  <div class="col-4">
    <app-place placeName="Cardiff"></app-place>
  </div>
</div>
<div class="row pt-4">
  <div class="col">
    This weather forecast app can be further improved by the following:
    <ul>
      <li>Write unit tests for all the components to make sure the code coverage is at least 90%</li>
      <li>Error handling by navigating the user to the error page</li>
      <li>Improve styling by using bootstrap and scss</li>
      <li>Consume current weather forecast API to display the current weather</li>
      <li>Mouse interactions to show/hide additional weather information</li>
    </ul>
  </div>
</div>
