<a href="javascript:void()" routerLink="/">Back</a>
<h3>{{dayOne[0].dt_txt | date: 'dd MMM YYYY'}}</h3>
<app-forecast-daily [day]="dayOne"></app-forecast-daily>
<h3>{{dayTwo[0].dt_txt | date: 'dd MMM YYYY'}}</h3>
<app-forecast-daily [day]="dayTwo"></app-forecast-daily>
<h3>{{dayThree[0].dt_txt | date: 'dd MMM YYYY'}}</h3>
<app-forecast-daily [day]="dayThree"></app-forecast-daily>
<h3>{{dayFour[0].dt_txt | date: 'dd MMM YYYY'}}</h3>
<app-forecast-daily [day]="dayFour"></app-forecast-daily>
<h3>{{dayFive[0].dt_txt | date: 'dd MMM YYYY'}}</h3>
<app-forecast-daily [day]="dayFive"></app-forecast-daily>
